<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Blog</title>
    {% endblock %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <nav class="head_nav">
        <ul class="head_ul">
            <li><a href="{% url 'blogs' %}">ISMBlog</a></li>
            <!-- <li><a href="{% url 'blogs' %}">All blog</a></li> -->
            <li><a href="{% url 'users' %}">All Users</a></li>
            <li><a href="{% url 'blog-create' %}">New Blog</a></li>
            {% if user.is_staff %}
                <li><a href="{% url 'index' %}">Management</a></li>
            {% endif %}
            <p>{{ request.session.keys }}</p>

            {% if user.is_authenticated %}
                <li><a href="{% url 'user-detail' user.id %}">{{ user.get_username }}</a></li>
                <li><a href="{% url 'logout' %}?next=/">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}?next={% if request.path == '/accounts/login/' %}/{% else %}{{request.path}}{% endif %}">Login</a></li>
            {% endif %}
            <li><a href="{% url 'register' %}">Sign up</a></li>

        </ul>
    </nav>
    <div>
      {% block content %}{% endblock %}
    </div>
    
    {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
                </span>
            </div>
        {% endif %}
    {% endblock %}
</body>
</html>