{% extends 'base.html' %}

{% block title %}
    <title>login</title>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>用户名和密码不匹配，请重试</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>请登录</p>
        {% endif %}
    {% endif %}
    
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <a href="{% url 'register' %}">注册</a>
    <!-- <a href="{% url 'password_reset' %}">忘记密码？</a> -->
    <a href="#">忘记密码？</a>
{% endblock %}
