{% extends 'base.html' %}

{% block title %}
    <title>register</title>
{% endblock %}

{% block content %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <label for="{{ label.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <p class="text-danger">{{ field.errors.as_text }}</p>
        {% endfor %}
        <span class="pull-left text-danger">{{ form.non_field_errors }}</span>
        <input type="submit" value="注册" class="btn btn-primary pull-right">
    </form>
{% endblock %}