{% extends 'base.html' %}

{% block title %}
    <title>{{ blog.title }}</title>
{% endblock %}

{% load staticfiles %}
{% block extrahead %}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>
        <strong>{{ blog.title }}</strong>
    </h1>
        <!-- <br /> -->
        <p><i class="fa fa-user-circle"></i>&nbsp&nbsp{{ blog.user.username }}</p>
        <div class="between">
            <div><p><i class="fa fa-tags"></i>&nbsp&nbsp{{ blog.display_tag }}</p></div>
            <div>
                <a class="btn btn-default" id="star">
                    <i class="fa fa-star-o"></i>
                    Star
                </a>
            </div>
        </div>
    <hr />
    {{ blog.content|safe }}
    <div>
        <p style="text-align: right">修改于：{{ blog.publish_date }}</p>
        <hr />
        {% if user.is_staff %}
            <div>
                <a href="{% url 'blog-update' blog.id %}"><button class="btn btn-success" id="btn-color-inherit">Update</button></a>
                <a href="{% url 'blog-delete' blog.id %}"><button class="btn btn-danger">Delete</button></a>
            </div>
        {% endif %}
    </div>
    <!-- <hr /> -->
    <div style="font-weight: bold">
        {% if previous %}
            <a href="{% url 'blog-detail' previous.id %}"><i class="fa fa-angle-left"></i> {{ previous.title }}</a>
        {% else %}
            <span>没有了</span>
        {% endif %}
        {% if next %}
            <a href="{% url 'blog-detail' next.id %}" style="float: right;">{{ next.title }} <i class="fa fa-angle-right"></i></a>
        {% else %}
            <span style="float: right;">没有了</span>
        {% endif %}
    </div>
    <hr>

    <div>
        <div>
            <h4>评论列表</h4>
            <div id="comment_list">
                {% for comment in comments %}
                    <div>
                        [{{ comment.user }}]: 
                        {{ comment.content|safe }}
                        {{ comment.comment_time }}
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
        <hr>

        <div>
            <h4>新的评论</h4>
            {% if user.is_authenticated %}
                <div>
                    <form id="comment_form" action="{% url 'create_comment' %}" method="POST">
                        {% csrf_token %}
                        {% for fields in comment_form %}
                            {{ fields }}
                        {% endfor %}
                        <span id="comment_error" class="text-danger pull-right"></span>
                        <input type="submit" value="评论" class="btn btn-primary pull-left">
                    </form>
                </div>
            {% else %}
                <a href="{% url 'login' %}?next={% if request.path == '/accounts/login/' %}/{% else %}{{request.path}}{% endif %}">请登录后再评论</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <h3><i class="fa fa-fire"></i>&nbsp&nbsp热门文章</h3>
    {% for blog in blog_list %}
        <hr />
        <a href="{% url 'blog-detail' blog.id %}">{{ blog.title }}</a>
    {% endfor %}
{% endblock %}

{% block script_extend %}
    <script type="text/javascript">
        $("#comment_form").submit(function(){

            // 判断内容是否为空
            $("#comment_error").text("");
            if(CKEDITOR.instances['id_content'].document.getBody().getText().trim()==""){
                $("#comment_error").text("评论内容不能为空");
                return false;
            }

            // 更新数据到textarea
            CKEDITOR.instances['id_content'].updateElement();

            // 异步提交
            $.ajax({
                url: "{% url 'create_comment' %}",
                type: "POST",
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    if(data["status"]=="SUCCESS"){
                        var comment_html = '<div>[' + data["username"] +
                                           ']: '+ data["content"] +
                                           ' '+ data['comment_time'] +'</div>';
                        $("#comment_list").prepend(comment_html);
                        CKEDITOR.instances['id_content'].setData("");
                    }else{
                        $("#comment_error").text(data["message"]);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        })
    </script>

    <script>
        $(document).ready(function() {
            $("#star").click(function() {
                $.getJSON("{% url 'star' blog.id %}", function(ret) {
                    if (ret.code == 200) {
                    $("#star").html('<i class="fa fa-star"></i>&nbsp;Unstar')
                    $("#star").attr("id", "unstar")
                    } else {
                        alert(ret.hint)
                    }
                    
                })
            }),
            $("#unstar").click(function() {
                $.getJSON("{% url 'unstar' blog.id %}", function(ret) {
                    if (ret.code == 200) {
                        $("#unstar").html('<i class="fa fa-star-o"></i>&nbsp;star')
                        $("#unstar").attr("id", "star")
                        } else {
                            alert(ret.hint)
                        }
                })
            })
        }); 
    </script>
{% endblock %}