{% extends 'base.html' %}

{% block title %}
    <title>blog list</title>
{% endblock %}

{% block content %}
    <!-- <h1>Blog list</h1> -->
    {% if empty %}
        <div>
            <p>{{ empty }}</p>
        </div>
    {% else %}
        {% for blog in blog_list %}
            <div class="blog-list">
                <h2><a style="width: 90%;" href="{% url 'blog-detail' blog.id %}">{{ blog.title }}</a></h2>
                <p>{{ blog.summary }}</p>
                {{ blog.display_tag }}
                <p style="color: gray;">{{ blog.publish_date }}</p>
                <hr />
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="blog_search" style="margin-top: 20px;">
        <form class="form-inline" role="search" action="{% url 'search' %}" method="get">
            {% csrf_token %}
            <input type="search" class="form-control" placeholder="Search title" name="search">
            <button type="submit" class="btn btn-default" id="search">search</button>
        </form>
    </div>
    <hr />
    <a class="blog-tags">
        {% for tag in tags %}
            <a href="{% url 'filter' tag.id %}"><button type="submit" class="label" style="border-radius: 290486px; font-weight: normal; background-color: #148755;">{{ tag }}</button></a>
        {% endfor %}
    </div>
{% endblock %}

{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}