{% extends 'base.html' %}

{% block content %}
    <!-- <h1>Blog list</h1> -->
    {% if empty %}
        <div>
            <p>{{ empty }}</p>
        </div>
    {% else %}
        {% for blog in blog_list %}
            <div class="blog-list">
                <h2><a style="width: 90%;" href="{% url 'blog-detail' blog.id %}">{{ blog.title }}</a>   - star: {{ blog.star }}  - pageviews: {{ blog.pageviews }}</h2>
                <p>{{ blog.summary }}</p>
                <p style="color: gray;">{{ blog.publish_date }}</p>
                <hr />
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="blog_search" style="margin-top: 20px;">
        <form class="form-inline" role="search" action="{% url 'search' %}" method="get">
            {% csrf_token %}
            <input type="search" class="form-control" placeholder="Search title" name="search">
            <button type="submit" class="btn btn-default" id="search">search</button>
        </form>
    </div>
{% endblock %}