{% extends 'base.html' %}

{% block title %}
    <title>blog</title>
{% endblock %}


<script>

</script>


{% block content %}
    <h1>
        <strong>{{ blog.title }}</strong>
        <br />
        <small>author: {{ blog.user.username }}</small>
    </h1>
    {{ blog.summary|safe }}
    <hr />
    {{ blog.content|safe }}
    <div>
        <hr />
        {% if user.is_staff %}
            <div>
                <a href="{% url 'blog-update' blog.id %}"><button class="btn btn-success" id="btn-color-inherit">Update</button></a>
                <a href="{% url 'blog-delete' blog.id %}"><button class="btn btn-danger">Delete</button></a>
            </div>
        {% endif %}
        <p><strong>created at:  </strong>{{ blog.publish_date }}</p>

        <p><strong>tags: </strong>
            {{ blog.display_tag }}
        </p>
        {% if blog.comment_set.all %}
        <p><strong>Comment</strong></p>
            <ul>
                {% for comment in blog.comment_set.all %}
                    <li>{{ comment.content|safe }} - <a href="#">{{ comment.user.username }}</a> - {{ comment.publish_date }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>no comment yet.</p>
        {% endif %}
    </div>
    <a href="{% url 'comment-create' blog.id %}"><input type="button" value="Comment" /></a>
    <hr />
    <div style="font-weight: bold">
        {% if previous %}
            <a href="{% url 'blog-detail' previous.id %}"><i class="fa fa-angle-left"></i> {{ previous }}</a>
        {% else %}
            <span>no earlier</span>
        {% endif %}
        {% if next %}
            <a href="{% url 'blog-detail' next.id %}" style="float: right;">{{ next }} <i class="fa fa-angle-right"></i></a>
        {% else %}
            <span style="float: right;">no more</span>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, corporis et harum in labore laborum magnam minima non odit provident quasi ratione reiciendis? Consectetur impedit odio, quaerat saepe veniam voluptate.</span>
    <div>
        <form action="">
            <input type="text">
            <button type="submit"></button>
        </form>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aspernatur blanditiis eaque, enim, facere facilis ipsam maxime nisi nobis odio odit omnis placeat quibusdam ratione reiciendis repellendus. Beatae, id?</p>
    <br><br><br><br><br><br><br><br><br><br>
{% endblock %}