{% extends 'base.html' %}

{% block title %}
    <title>专题</title>
{% endblock %}

{% block content %}
    <div class="topic-list">
        {% for topic in topic_list %}
            <div class="topic">
                <h3><a href="{% url 'topic-blog' topic.id %}">{{ topic }}</a></h3>
                {% if topic.summary %}
                    <p>简介：{{ topic.summary }}</p>
                {% endif %}
                <p>创建时间：{{ topic.init_date }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}