* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

ul {
    margin: 0;
}

li {
    text-decoration: none;
    list-style-type: none;
    padding: 8px;
    color: #137a4b;
}

a {
    color: #148755;
}

button {
    margin: 0;
    padding: 0;
    outline: none;
    /* border: 1px solid transparent; */
    background-color: #137a4b;
    color: whitesmoke;
    border-radius: 25px;
    
}

p {
    margin: 0;
    line-height: 2em;
}

/* navbar */
.ismblog-navbar {
    flex: 0 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-weight: 600;
    box-shadow: 0 0.4px 3px gray;
    z-index: 997;
    border-radius: 0;
}

.ismblog-navbar button {
    border: 1px solid transparent;
    background-color: whitesmoke;
    color: #137a4b;
    width: 120px;
    height: 29px;
}

.ismblog-ul-left li {
    float: left;
}

.ismblog-ul-right li {
    float: right;
}

.ismblog-navbar a :hover {
    background-color: #137a4b;
    color: whitesmoke;
}

#search {
    display: none;
}


/* content */
.ismblog-content {
    margin-top: 70px;
    flex: 1 0 auto;
}

.content-list {
    border-right: 1px lightgrey solid;
    padding: 0 20px;
}

.topic-list div {
    background-color: whitesmoke;
    margin: 20px 0;
    padding: 10px;
    box-shadow: 0 1px 5px lightgrey;
}

#btn-color-inherit {
    background-color: #148755;
    color: whitesmoke;
}

#btn-color-inherit:hover {
    background-color: #117044;
}

.pagination {
    margin: 0;
}

.ismblog_notes div {
    background-color: whitesmoke;
    margin: 20px 0;
    padding: 10px;
    box-shadow: 0 1px 5px lightgrey;
}

.ismblog_notes div:hover{
    box-shadow: 0 1px 8px lightgrey;
}

/* footer */
footer {
    flex: 0 0 auto;
    margin-top: 50px;
    background-color: #148755;
    color: whitesmoke;
    padding: 50px 0;
}

#ismblog_footer_div a{
    color: whitesmoke;
}

footer a:hover{
    color: lightgrey;
}

footer li{
    padding-top: 0;
    color: whitesmoke;
}