body {
    margin: 0;
    /*padding-top: 90px;*/
    font-family: 'Lato', sans-serif;
    color: #3c3c3c;
}

h1,h2,h3,h4,h5,h6 {
    margin: 10px 0;
    padding: 0;
}

p {
    margin: 0;
    line-height: 2em;
}

.ismblog-navbar {
    /*margin-bottom: 30px;*/
    width: 100%;
    background-color: #f6f6f6;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 1px 7px gray;
    z-index: 997;
}

.ismblog-ul-left {
    margin: 0;
}

.ismblog-ul-left li {
    list-style-type: none;
    text-decoration: none;
    float: left;
    padding: 20px;
    position: relative;
}

.ismblog-ul-right {
    margin: 0;
}

.ismblog-ul-right li {
    list-style-type: none;
    text-decoration: none;
    float: right;
    padding: 20px;
    position: relative;
}

a {
    /*color: #1a8d3d;*/
    color: inherit;
}

a:hover {
    /*color: #292929;*/
}

.ismblog-content {
    /*padding-bottom: 40px;*/
    margin: 40px 0;
}

.ismblog-header {
    background-color: lightgray;
    height: 150px;
    text-align: center;
}

.ismblog-header span {
    font-size: 95px;
    color: #1a8d3d;
	font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

.pagination {
    margin: 0;
}

p img {
    width: auto;
    height: auto;
    display: block;
    max-width: 100%;
}

footer {
    background-color: lightgrey;
    box-shadow: 0 9px 7px -7px gray inset;
    padding: 50px 0;
}

footer ul {
    list-style-type: none;
    color: black;
    padding: 0;
}

footer li {
    text-decoration: none;
    margin: 5px 0;
}

footer a {
    color: inherit;
}

footer a:hover {
    color: #474747;
}