body {
    margin: 0;
    padding-top: 90px;
    font-family: 'Lato', sans-serif;
}

.ismblog-navbar {
    /*position: fixed;*/
    /*top: 0;*/
    width: 100%;
    background-color: #f6f6f6;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 1px 7px gray;
    z-index: 997;
}

.ismblog-ul-left {
    margin: 0;
}

.ismblog-ul-left li {
    list-style-type: none;
    text-decoration: none;
    float: left;
    padding: 20px;
    position: relative;
}

.ismblog-ul-right {
    margin: 0;
}

.ismblog-ul-right li {
    list-style-type: none;
    text-decoration: none;
    float: right;
    padding: 20px;
    position: relative;
}

a {
    color: #1a8d3d;
}

a:hover {
    text-decoration: none;
}

.ismblog-header {
    background-color: lightgray;
}